<template>
  <div class="container">
    <div class="row mt-5 mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Favorites</h1>
        <button type="button" class="btn btn-primary" @click="exportUsersCsv(csvData)">
          Export users
        </button>
      </div>
    </div>
    <TableUsers :users="this.users" />
  </div>
</template>

<script>
import TableUsers from "@/components/TableUsers.vue";
import { mapState } from "vuex";

export default {
  name: "Favorites",
  components: {
    TableUsers,
  },
  computed: {
    ...mapState(["usersFavorites"]),
    csvData() {
      return this.users.map(item => ({
        'Gender': item.gender,
        'Name': item.name.first,
        'Email': item.email,
        'Nacionality': item.location.country,
        'Date of birth': item.dob.date,
        'Date of register': item.registered.date
      }));
    }
  },
  created() {
    this.$store.commit("changeProfileTypeStore", "favorite");
  },
  mounted() {
    this.getUsersFavorite();
  },
  data() {
    return {
      users: []
    };
  },
  methods: {
    getUsersFavorite() {
      this.users = this.usersFavorites;
    },
    exportUsersCsv(arrData) {
      let csvContent = "data:text/csv;charset=utf-8,";
      csvContent += [
        Object.keys(arrData[0]).join(";"),
        ...arrData.map((item) => Object.values(item).join(";")),
      ]
      .join("\n")
      .replace(/(^\[)|(\]$)/gm, "");

      const data = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", data);
      link.setAttribute("download", "export-favorites.csv");
      link.click();
    },
  },
};
</script>
