<template>
  <div class="container">
    <div class="row mt-5 mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Users</h1>
        <button type="button" class="btn btn-primary" @click="getUsers()">Load new users</button>
        <router-link to="/favorites" class="btn btn-primary">Favoritos</router-link>
      </div>
    </div>
    <div class="row">
      <h5>Filters</h5>
    </div>
     <div class="row mb-4">
      <div class="col">
        <div class="form-group">
          <select class="form-control" v-model="gender" @change="filterGender()">
            <option value="null" hidden disabled>Select gender</option>
            <option v-for="(item, index) in selectGenderOption" :key="index" :value="item">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <input type="date" v-model="age" class="form-control" @change="filterAge()">
      </div>
      <div class="col">
        <div class="form-group">
          <select class="form-control" v-model="country" @change="filterCountry()">
            <option value="null" hidden disabled>Select country</option>
            <option v-for="(item, index) in selectCountryOption" :key="index" :value="item">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <button type="button" class="btn btn-primary" @click="resetUsers()">Reset filters</button>
        </div>
      </div>
    </div>
    <TableUsers :users="this.users"/>
  </div>
</template>

<script>

import TableUsers from '@/components/TableUsers.vue'
import { mapState, mapMutations } from 'vuex'
import moment from 'moment'

export default {
  name: 'Home',
  components: {
    TableUsers
  },
  computed: {
    ...mapState([
      'usersStore'
    ])
  },
  mapMutations: {
    ...mapMutations([
      'addUserStore'
    ]),
  },
  created() {
    
  },
  mounted() {
    this.getUsers()
    this.$store.commit('changeProfileTypeStore', 'normal')
  },
  data() {
    return {
      users: [],
      selectCountryOption: [],
      selectGenderOption: [],
      country: null,
      gender: null,
      age: null
    }
  },
  methods: {
    getUsers() {
      this.axios.get('https://randomuser.me/api/?results=100').then(response => {
        this.$store.commit('addUserStore', response.data.results)
        this.users = response.data.results

        //Genero una lista de paises y sexo en base al resultado obtenido
        this.createCountryList()
        this.createGenderList()
      })
      .catch(function (error) {
        console.log(error);
      });
    },
    createCountryList() {
      this.users.forEach(item => {
        let checkCountry = this.selectCountryOption.find(country => country === item.location.country)
        if(checkCountry === undefined) {
          this.selectCountryOption.push(item.location.country)
        }
      })
    },
    createGenderList() {
      this.users.forEach(item => {
        let checkGender = this.selectGenderOption.find(gender => gender === item.gender)
        if(checkGender === undefined) {
          this.selectGenderOption.push(item.gender)
        }
      })
    },
    filterCountry() {
      this.users = this.usersStore.filter((item) => item.location.country.toLowerCase().indexOf(this.country.toLowerCase()) > -1)
    },
    filterGender() {
      this.users = this.usersStore.filter((item) => item.gender === this.gender)
    },
    filterAge() {
      this.users = this.usersStore.filter((item) => moment(item.dob.date).format('MM/DD/YYYY').indexOf(moment(this.age).format('MM/DD/YYYY')) > -1)
    },
    resetUsers() {
      this.users = this.usersStore
      this.country = null
      this.gender = null
      this.age = null
    }
  }
}
</script>
