<template>
  <div class="container">
    <div class="row py-5 px-4">
      <div class="col mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
          <div class="position-relative">
            <Mapbox :coordinates="user.location.coordinates"></Mapbox>
            <div class="image-profile">
              <img :src="user.picture.large" class="rounded mb-2 img-thumbnail">
              <button type="button" class="btn btn-outline-dark btn-sm btn-block" @click="addFavorite()">
                <span v-if="!favoriteActive">Add fovorite</span>
                <span v-if="favoriteActive">Remove fovorite</span>
              </button>
            </div>
          </div>
          <div class="bg-light header-top">
            <h1 class="name">{{user.name.first + ' ' + user.name.last }}</h1>
          </div>
          <div class="px-4 py-3">
            <h5 class="mb-3">About</h5>
            <div class="p-4 bg-light rounded">
              <p class="font-italic mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
                <span>{{user.email}}</span>
              </p>
              <p class="font-italic mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <span>{{user.location.city + ' (' + user.location.country + ')'}}</span>
              </p>
              <p class="font-italic mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <span>{{user.location.street.name  + ', ' + user.location.street.number}}</span>
              </p>
              <p class="font-italic mb-0 d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                </svg>
                <span>{{user.phone}}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row px-4">
      <div class="col">
        <router-link to="/" class="btn btn-primary">Volver</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import Mapbox from "@/components/Mapbox.vue"

export default {
  name: "Profile",
  props: ['type'],
  components: {
    Mapbox,
  },
  computed: {
    ...mapState([
      'usersStore',
      'usersFavorites',
      'profileType'
    ]),
  },
  mapMutations: {
    ...mapMutations([
      'addUsersFavoriteStore'
    ]),
  },
  created() {
    //console.log("usersStore: ", this.usersStore[this.$route.params.index]);
    this.user = this.profileType === 'favorite' ? this.usersFavorites[this.$route.params.index] : this.usersStore[this.$route.params.index]
    this.checkFavorite()
  },
  data() {
    return {
      user: {},
      favoriteActive: false
    };
  },
  watch: {
    users(val) {
      if(val.length === 0) {
        this.noResults = true
      } else {
        this.noResults = false
      }
    }
  },
  methods: {
    addFavorite() {
      this.$store.commit('addUsersFavoriteStore', this.user)
      this.checkFavorite()
      console.log("usersFavorites: ", this.usersFavorites)
    },
    checkFavorite() {
      let checkUser = this.usersFavorites.find(item => item.email == this.user.email)
      if(checkUser === undefined) {
        this.favoriteActive = false
      } else {
        this.favoriteActive = true
      }
    }
  },
};
</script>

<style lang="scss" scoped>
.image-profile {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -4rem;
  left: 3rem;
  .img-thumbnail {
    object-fit: cover;
  }
}
.header-top {
  padding: 1rem 2rem 2rem 14rem;
  .name {
    margin: 0;
  }
}
.icon {
  height: 1rem;
  margin-right: .3rem;
}
</style>