<template>
  <div id="mapbox" class="basemap"></div>
</template>

<script type="text/javascript">

import mapboxgl from "mapbox-gl";
import "mapbox-gl/dist/mapbox-gl.css";
import { onMounted, reactive } from "vue";

export default {
  name: "Mapbox",
  props: ["coordinates"],
  created() {
    console.log("Coordinates: ", this.coordinates)
  },
  data() {
    return {
    };
  },
  setup(props) {
    const accessToken = "pk.eyJ1IjoibmV3bG9vcHMiLCJhIjoiY2tvNWd0N3gwMXN4czJ4cGd1NWM0enVlbiJ9.I_oHHnX-z7pYmjmbFPu36g"
    const { latitude, longitude } = reactive(props.coordinates)
    onMounted(() => {

      console.log("latitude: ", latitude)
      console.log("longitude: ", longitude)

      mapboxgl.accessToken = accessToken;

      const map = new mapboxgl.Map({
        container: "mapbox",
        style: "mapbox://styles/mapbox/streets-v11",
        center: [longitude, latitude],
        zoom: 6,
      });

      const nav = new mapboxgl.NavigationControl();
      map.addControl(nav, "top-right");

      new mapboxgl.Marker()
      .setLngLat([longitude, latitude])
      .addTo(map);

    });
    return {};
  },
  methods: {},
};
</script>

<style>
.basemap {
  width: 100%;
  height: 20rem;
}
.marker {
  background-image: url("https://www.editorialbuencamino.com/camino/img/icon-alojamiento.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 32px;
  height: 20px;
  cursor: pointer;
}
.mapboxgl-popup-close-button {
  width: 20px;
}
</style>