<template>
  <div class="bg-white shadow rounded p-3 mb-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Fender</th>
          <th scope="col">Name</th>
          <th scope="col">Nacionality</th>
          <th scope="col">Email</th>
          <th scope="col">Date of birth</th>
          <th scope="col">Date of register</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user, index) in users" :key="index">
          <td scope="row">{{user.gender}}</td>
          <td><router-link :to="{ name: 'Profile', params: { index }}">{{user.name.first}}</router-link></td>
          <td>{{user.email}}</td>
          <td>{{user.location.country}}</td>
          <td>{{formatDate(user.dob.date)}}</td>
          <td>{{formatDate(user.registered.date)}}</td>
        </tr>
      </tbody>
    </table>
    <div v-if="noResults" class="alert alert-danger">No exist results</div>
  </div>
</template>

<script>

import moment from 'moment'

export default {
  name: "TableUsers",
  props: ['users'],
  watch: {
    users(val) {
      if (val.length === 0) {
        this.noResults = true;
      } else {
        this.noResults = false;
      }
    },
  },
  cerated(){
    console.log("Users: ", this.users)
  },
  data() {
    return {
      noResults: false
    };
  },
  methods: {
    formatDate(value) {
      return moment(value).format('MM/DD/YYYY');
    }
  }
};

</script>

<style scoped lang="scss">

</style>