<template>
  <!--<div id="nav" class="container">
    <router-link to="/">Home</router-link> |
    <router-link to="/profile">Profile</router-link>
  </div>-->
  <router-view/>
</template>

<style lang="scss">
</style>
